*{
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(26, 183, 131);
    font-family: "Chewy", serif;
}

h1{
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;

    color:white;
}